In [9]:
# import TensorFlow as TF
import pandas as pd
import math
import matplotlib.pylab as plt
import numpy as np

from sklearn import datasets
from sklearn.impute import SimpleImputer # used for handling missing data

In [38]:

df = pd.read_csv('data.csv')
data_top = df.head()
copy = df.copy() 

#1 - remove rows where the target column (Scope1) is NaN.

copy = copy[copy['EmissionDataPoints.CO2EquivalentsEmissionDirectScope1'].notna()] # drop all rows with NaN in target column
# print(copy)

Y = copy['EmissionDataPoints.CO2EquivalentsEmissionDirectScope1'] # dependent variable 

df.isna().sum()
# print(Y.isna().sum())
# print(len(Y))

#2 - group rows by organization ID

group_df = copy.groupby("organization_id")


print(group_df.last())

group_CO = group_df['EmissionDataPoints.CO2EquivalentsEmissionDirectScope1'].apply(list) # group CO2-scope1-emission on organization ID 


group_CO = group_CO.reset_index() 

# print(group_CO)


    




# zero_d = df.fillna(0)
# print(zero_d)


# for col in df.columns:
#     print(col)

                StatementDetails.FinancialPeriodEndDate  \
organization_id
5                              2014-12-31T00:00:00.000Z
6                              2020-06-30T00:00:00.000Z
11                             2018-05-31T00:00:00.000Z
15                             2017-12-31T00:00:00.000Z
17                             2016-12-31T00:00:00.000Z
...                                                 ...
14950                          2018-12-31T00:00:00.000Z
14952                          2015-12-31T00:00:00.000Z
14953                          2010-12-31T00:00:00.000Z
14954                          2019-12-31T00:00:00.000Z
14955                          2016-12-31T00:00:00.000Z

                 StatementDetails.FinancialPeriodFiscalYear  \
organization_id
5                                                      2014
6                                                      2020
11                                                     2018
15                                                     2017
17                                                     2016
...                                                     ...
14950                                                  2018
14952                                                  2015
14953                                                  2010
14954                                                  2019
14955                                                  2016

                 StatementDetails.FinancialPeriodIsIncomplete  \
organization_id
5                                                       False
6                                                       False
11                                                      False
15                                                      False
17                                                      False
...                                                       ...
14950                                                   False
14952                                                   False
14953                                                   False
14954                                                   False
14955                                                   False

                StatementDetails.EsgOrAtdIndicator  \
organization_id
5                                              ESG
6                                              ESG
11                                             ESG
15                                             ESG
17                                             ESG
...                                            ...
14950                                          ESG
14952                                          ESG
14953                                          ESG
14954                                          ESG
14955                                          ESG

                 EmissionDataPoints.AccidentalSpills  \
organization_id
5                                                NaN
6                                                NaN
11                                               NaN
15                                               0.0
17                                               NaN
...                                              ...
14950                                            NaN
14952                                            NaN
14953                                            NaN
14954                                            NaN
14955                                            NaN

                EmissionDataPoints.AnalyticCO2EstimationMethod  \
organization_id
5                                                     Reported
6                                                     Reported
11                                                    Reported
15                                                    Reported
17                                                      Energy
...                                                        ...
14950                                                 Reported
14952                                                 Reported
14953                                                 Reported
14954                                                 Reported
14955                                                 Reported

                 EmissionDataPoints.AnalyticEstimatesCO2EquivalentsEmissionTotal  \
organization_id
5                                                          59102.0
6                                                          52051.0
11                                                        503518.0
15                                                         92334.0
17                                                         12448.0
...                                                            ...
14950                                                     351051.0
14952                                                     371124.0
14953                                                       1997.0
14954                                                     791410.0
14955                                                      60218.0

                 EmissionDataPoints.BiodiversityImpactReduction  \
organization_id
5                                                           0.0
6                                                           0.0
11                                                          1.0
15                                                          0.0
17                                                          0.0
...                                                         ...
14950                                                       1.0
14952                                                       0.0
14953                                                       0.0
14954                                                       0.0
14955                                                       0.0

                 EmissionDataPoints.CarbonOffsetsCredits  \
organization_id
5                                                 854.13
6                                                    NaN
11                                             352213.00
15                                                   NaN
17                                                   NaN
...                                                  ...
14950                                         5500000.00
14952                                         1100000.00
14953                                            4000.00
14954                                              32.00
14955                                           79410.00

                 EmissionDataPoints.CementCO2EquivalentsEmission  ...  \
organization_id                                                   ...
5                                                            NaN  ...
6                                                            NaN  ...
11                                                           NaN  ...
15                                                           NaN  ...
17                                                           NaN  ...
...                                                          ...  ...
14950                                                        NaN  ...
14952                                                        NaN  ...
14953                                                        NaN  ...
14954                                                        NaN  ...
14955                                                        NaN  ...

                 WorkforceIndicators.HealthAndSafetyPolicy  \
organization_id
5                                                      0.0
6                                                      1.0
11                                                     1.0
15                                                     1.0
17                                                     0.0
...                                                    ...
14950                                                  1.0
14952                                                  1.0
14953                                                  1.0
14954                                                  1.0
14955                                                  1.0

                 WorkforceIndicators.InjuriesToMillionHours  \
organization_id
5                                                       NaN
6                                                       NaN
11                                                      NaN
15                                                      NaN
17                                                    8.876
...                                                     ...
14950                                                 2.468
14952                                                   NaN
14953                                                   NaN
14954                                                   NaN
14955                                                   NaN

                 WorkforceIndicators.LostDaysToTotalDays  \
organization_id
5                                                    NaN
6                                                    NaN
11                                                   NaN
15                                                   NaN
17                                              0.001456
...                                                  ...
14950                                           0.000304
14952                                                NaN
14953                                                NaN
14954                                                NaN
14955                                                NaN

                 WorkforceIndicators.NetEmploymentCreation  \
organization_id
5                                                      NaN
6                                                 0.015873
11                                                     NaN
15                                                     NaN
17                                               -0.027347
...                                                    ...
14950                                             0.033121
14952                                            -0.021920
14953                                                  NaN
14954                                             0.019608
14955                                            -0.003678

                 WorkforceIndicators.SalaryGap  \
organization_id
5                                    90.186403
6                                          NaN
11                                         NaN
15                                         NaN
17                                         NaN
...                                        ...
14950                                41.231064
14952                                49.681532
14953                                      NaN
14954                               169.376624
14955                               121.354636

                 WorkforceIndicators.TrainingAndDevelopmentPolicy  \
organization_id
5                                                             0.0
6                                                             1.0
11                                                            1.0
15                                                            1.0
17                                                            0.0
...                                                           ...
14950                                                         1.0
14952                                                         1.0
14953                                                         1.0
14954                                                         1.0
14955                                                         1.0

                 WorkforceIndicators.TrainingCostsPerEmployee  \
organization_id
5                                                         NaN
6                                                         NaN
11                                                        NaN
15                                                        NaN
17                                                        NaN
...                                                       ...
14950                                              858.003378
14952                                                     NaN
14953                                                     NaN
14954                                                     NaN
14955                                              338.234291

                 WorkforceIndicators.WagesWorkingConditionControversies  \
organization_id
5                                                              0.0
6                                                              0.0
11                                                             0.0
15                                                             0.0
17                                                             0.0
...                                                            ...
14950                                                          0.0
14952                                                          0.0
14953                                                          0.0
14954                                                          1.0
14955                                                          0.0

                             GTAP country  \
organization_id
5                                  Canada
6                United States of America
11                              Argentina
15                              Argentina
17                              Argentina
...                                   ...
14950                              France
14952                      United Kingdom
14953                         Switzerland
14954            United States of America
14955                      United Kingdom

                                               GTAP sector
organization_id
5                                                Insurance
6                Computer, electronic and optical products
11                                  Sugar cane, sugar beet
15                  Bovine cattle, sheep and goats, horses
17                                  Financial services nec
...                                                    ...
14950                               Financial services nec
14952                               Financial services nec
14953                               Financial services nec
14954                               Financial services nec
14955                                            Insurance

[4103 rows x 183 columns]